
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0 auto;
}

  h1 {
    color: black;
    font-weight: 800;
    font-size: 60px;
    letter-spacing: 8px;
    padding: 2px;
    margin: 2px;
  }

  h2 {
    color: black;
    text-align: left;
    padding: 0px;
    margin: 0px;
    font-size: 38px;
    font-weight: 800;
    letter-spacing: 2px;
    padding-left: 30px;
  }

  #hello{
    padding-top: 30px;
  }

  header {
    padding: 80px 0 20px;
    text-align: center;
    margin-bottom: 30px;
  }

  #me{
    width: 65%;
    height: auto;
    padding-left: 30%;
    padding-top: 75px;
    padding-bottom: 140px;

  }

  #smallme {
    display: none;
  }


  header #title {
    padding: 10px;
  }

  #menu {
    display: inline;
  }

  #menu ul {
    margin: 10px;
    padding: 10px;
    list-style: none;
    text-align: center;
  }

  li a {
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: 300;
  }

  li, a:hover{
    color: #b51353;
    opacity: .6;
  }

  #menu li {
    margin: 10px;
    padding: 10px;
    display: inline;
  }

  footer {
    padding: 10px 10px;
    padding-top: 70px;
    text-align: center;
  }

  .textlink{
    text-decoration: none;
    color: #b51353;
  }

  #footer{
    color: #848484;
    font-size: 16px;
  }

  .b{
    font-weight: 600;
  }


    .current_page {
    color: #b51353;
    font-weight: 2px;
  }

  img{
    text-align: left;
    width: 99%;
    height: auto;
  }

  .emph{
    font-size: 20px;
    font-weight: 300;
    margin-left: 200px;
    margin-right: 200px;
    letter-spacing: 2px;
  }

  .pink{
    color: #b51353;
    font-weight: 500;
  }

  .socialbutton{
    width: 30px;
    opacity: 1;
    margin-left: 10px;
  }

  .socialfooter{
    justify-content: center;
  }
  .main{
    padding-top: 25px;
    padding-bottom: 0px;
    text-align: left;
    padding-right: 30%;
    padding-left: 4%;
    font-weight: 400;
    font-size: 16px;
  }


  .about{
    padding: 24px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin-left: 30%;
    margin-right: 30%;

  }

  .form_error {
    color: red;
  }

  .hidden {
    display: none;
  }

  p{
    text-align: center;
  }

  .center{
    text-align: center;
  }

  .confirmation{
    padding: 24px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin-left: 35%;
    margin-right: 35%;

  }

  .confirm{
    text-align: left;
    padding-left: 10%;
  }

  .row {
    display: flex;
    padding: 15px;
    padding-bottom: 50px;
    overflow-x: hidden;
  }

  .column {
    float: left;
    width: 50%;
  }

  .c3{
    flex-grow: 1
  }

  .left{
    width: 50%;
    padding-left: 15%;
    padding-right:0%;

  }

  .right{
    width: 50%;
    padding-right: 8%;
    padding-left: 0%;
  }

  .self{
    width: 80%;
    height: auto;
    padding:35px;
  }
  .descr{
    padding-right: 20%;
    text-align: left;
    padding-bottom: 65px;
    font-size: 13px;
  }

  .indent{
    text-align: left;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 12px;
  }

  h3{
    font-size: 24px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    font-weight: 800;
  }

  .numlist{
    text-align: left;
    padding-left: 300px;
    padding-right: 250px;
    padding-top: 0px;
  }

  .projecthead{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  .inline{
    display: inline;
  }

  .leftimg{
   width: 68%;
    height: auto;
    padding-left: 230px;
    padding-top: 50px;
  }
  .rightimg{
    width: 80%;
    height: auto;
    padding-right: 200px;
  }

  .projectimg{
    width: 80%;
    height: auto;
    padding-left: 180px;
    padding-right: 100px;
  }

  .projectheadimg{
    width: 65%;
    height: auto;
    padding-left: 260px;
  }

  .work{
    width: 82%;
    height: auto;
    max-width: 100%;
    transition: transform 0.2s;
    padding-bottom: 13px;
  }
/*
  .work:hover {
    transform: scale(1.05);
}
*/

  h4{
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 15px;

  }
  .button{
    text-decoration: none;
    text-align: left;
    font-weight: 400;
    color:  black;
    background-color: white;
    border-style: none;
    margin: 0px;
    border-width: 1px;
    border-radius: 12px;
    padding-left: 0px;
    padding-right: 0px;
  }


  .notbutton{
    text-decoration: none;
    text-align: left;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 18px;
    display: inline;
    font-size: 15px;
    margin-right: 700px;
  }

  .ital{
    font-weight: 300;
    font-size: 28px;
  }

  .selfh2{
    text-align: center;
    font-size: 32px;
  }

  .caption{
    padding:0px;
    margin: 0px;
  }


  .button:hover{
    opacity: .7;
    color: black;
  }

  h5{
    font-weight: 600;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 10px;
    margin-bottom: 0px;
    color: #b51353;
    opacity: .9;

  }

  .list{
    padding-top: 2px;
    margin: 0px;
    text-align: left;
    font-size: 13px;
    font-weight: 500;
  }

  span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
      0% { transform: rotate(  0.0deg) }
     10% { transform: rotate(-10.0deg) }
     20% { transform: rotate( 12.0deg) }
     30% { transform: rotate(-10.0deg) }
     40% { transform: rotate(  9.0deg) }
     50% { transform: rotate(  0.0deg) }
    100% { transform: rotate(  0.0deg) }
  }


  .bounce {
    animation-name: bounce-animation;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
  }

  @keyframes bounce-animation {
      0% { transform: translateY(  7px) }
     10% { transform: translateY(0px) }
     20% { transform: translateY( 7px) }
     30% { transform: translateY(0px) }
     40% { transform: translateY(  7px) }
     50% { transform: translateY(  0px) }
     60% { transform: translateY( 7px) }
     70% { transform: translateY(0px) }
     80% { transform: translateY(  7px) }
     90% { transform: translateY(  0px) }
    100% { transform: translateY(  7px) }
  }

  #more {display: none;}

  .travelgrid {
    display: grid;
  }


